# Ignore vim files
.*.sw[op]

# The directory Mix will write compiled artifacts to.
/_build

# If you run "mix test --cover", coverage assets end up here.
/cover

# The directory Mix downloads your dependencies sources to.
/deps

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore generated NIF libraries
/priv

# Ignore rebar3 binary and lock file
/rebar.lock
/support/rebar3

# C/C++ NIF modules
*.o

# Ignore mix.lock
mix.lock
